<html>
	<head> 
		<title>
		Batting Stats
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body bgcolor="#D3D3D3" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">	
		<script>var rows = {{ rows|tojson }}</script>
		<script type='text/javascript' src="{{ url_for('static', filename='scripts.js') }}"></script>
		<div style="background-color:#1A5BE8; width: 100%; height: 50px; border: none;"> 
		<button class="button1"><a style="text-decoration:none" href="topplayers.html"> Live Matches </a></button>	 
		<button class="button1"><a style="text-decoration:none" href="topplayers.html"> Current Series </a></button>
		<button class="button1"><a style="text-decoration:none" href="topplayers.html"> Upcoming Series </a></button>
		<button class="button1"><a style="text-decoration:none" href="topplayers.html"> Top Players </a></button>
		</div><br><br>
		<a href="bowling.html" class="button"> Bowling Statistics </a>
		<a href="home.html" class="button3"> Back </a>
		<br><br>
		<table style="width:100%" align="center" border=1 class="table1"
			id="table">
			<tr>
				<th><button onclick={dosort(0,0)} style="width:100%" class="button2">Name</button></th>
				<th><button onclick={dosort(1,0)} style="width:100%" class="button2">Batting Style</button></th>
				<th><button onclick={dosort(2,1)} style="width:100%" class="button2">Matches</button></th>
				<th><button onclick={dosort(3,1)} style="width:100%" class="button2">Runs</button></th>
				<th><button onclick={dosort(4,1)} style="width:100%" class="button2">Highest Score</button></th>
				<th><button onclick={dosort(5,1)} style="width:100%" class="button2">Average</button></th>
				<th><button onclick={dosort(6,1)} style="width:100%" class="button2">Strike Rate</button></th>
				<th><button onclick={dosort(7,1)} style="width:100%" class="button2">Hundreds</button></th>
				<th><button onclick={dosort(8,1)} style="width:100%" class="button2">Fifties</button></th>
				<th><button onclick={dosort(9,1)} style="width:100%" class="button2">Fours</button></th>
				<th><button onclick={dosort(10,1)} style="width:100%" class="button2">Sixes</button></th>
				<th><button onclick={dosort(11,0)} style="width:100%" class="button2">Price</button></th>
			</tr>
			{% for row in rows %}
			<tr align="center" id="datarows">
				<td> {{ row[0] }}</td>
				<td> {{ row[1] }}</td>
				<td> {{ row[2] }} </td>
				<td> {{ row[3] }} </td>
				<td> {{ row[4] }} </td>
				<td> {{ row[5] }} </td>
				<td> {{ row[6] }} </td>
				<td> {{ row[7] }} </td>
				<td> {{ row[8] }} </td>
				<td> {{ row[9] }} </td>
				<td> {{ row[10]}} </td>
				<td> {{ row[11]}} </td>
			</tr>
			{% endfor %}
		</table>
		<center>
		<a href="home.html" class="button"> Back </a></center>
	</body>
</html>
